@model TajneedOffice.Models.Airbase

@{
    ViewData["Title"] = "تفاصيل القاعدة الجوية";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">تفاصيل القاعدة الجوية</h3>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-3">الرقم:</dt>
                        <dd class="col-sm-9">@Model.AirbaseId</dd>
                        
                        <dt class="col-sm-3">اسم القاعدة الجوية:</dt>
                        <dd class="col-sm-9">@Model.AirbaseName</dd>
                    </dl>
                </div>
                <div class="card-footer">
                    <a asp-action="Edit" asp-route-id="@Model.AirbaseId" class="btn btn-warning">
                        <i class="fas fa-edit"></i> تعديل
                    </a>
                    <a asp-action="Index" class="btn btn-secondary">
                        <i class="fas fa-arrow-left"></i> العودة للقائمة
                    </a>
                </div>
            </div>
        </div>
    </div>
</div> 